html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {outline: none !important;
}
html{
	background:#fff;
}
body{
	font-family: 'Roboto', 'sans-serif';
}
.headerLine{
	position: relative;
	width: 100%;
	overflow: hidden;
	height:100%;
	background: url(../images/bgTop.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.headerLine:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.logo{
	margin-top: 60px;
	font-family: 'Roboto', 'sans-serif';
	font-size:30px;
	font-weight:700;
	text-transform:uppercase;
	color:#fff;
}
.logo span{
	color:#22C1DB;
}
.logo p{
	letter-spacing: 0.5px;
	margin-top: -10px;
	font-family: 'Roboto', 'sans-serif';
	font-size:12px;
	font-weight:300;
	text-transform:lowercase;
}
.logo a{
	cursor:pointer;
	color:#fff;
	text-decoration:none;
}
.logo img {
	height: 70px;
}
.fixed .logo img {
	height: 37px;
}
#menu a:active {
	color:#22C1DB;
}
#menu select {
	display: none;
}
#menu .active a {
	border:0;
	color:#22C1DB;
}
#menu .active a:focus{
	outline: none;
	border: none;
}
#menu .active a:active {
	outline: none;
	border: none;;
}
#menu .active a:link {
	outline: none;
	border: none;
}
#menu .active a:visited  {
	outline: none;
	border: none;
}
#menu li{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	border-right:1px solid #fff;
	padding-left: 17px;
	padding-right: 16px;
	float:left;
	font-family: 'Roboto', 'sans-serif';
	font-size:14px;
	color:#fff;
	list-style:none;
	font-weight:700;
}
#menu li:last-child{
	border-right:0;
	padding-right:0px;
}
#menu{
	margin-top: 74px;
	float: right;
}
#menu li a{
	color:#fff;
	text-decoration:none;
}
#menu li a:hover{
	border:none;
	outline:none;
	color:#22C1DB;
}
.gallery {
	height:500px;
}
#camera_wrap_1{
	margin-bottom:0 !important;
	margin-top: 10px;
}
.camera_caption h2{
	border-bottom:4px solid #22C1DB;
	font-family: 'Open Sans', sans-serif;
	font-size:100px;
	font-weight:700;
	letter-spacing: -2px;
}
.slicknav_menu {
	display:none;
}
@media screen and (max-width: 991px) {
	.news p{
		text-align: center;
	}
	.news div{
		text-align:center;
	}
	.news img{
		display:inline;
	}
	.pic1Ab{
		margin-bottom:0 !important;
	}
	.pic2Ab{
		margin-bottom:0 !important;
	}
	#menu {
		display:none;
	}
	#menuF{
		opacity:0 !important;
	}
	.fixed{
		opacity:0;
	}	 
	.slicknav_menu {
		display:block;
	}
	.about p{
		text-align: justify;
	}
}
@media screen and (max-width: 1229px){
	.pic1Ab{
		margin-bottom:50px ;
	}
	.pic2Ab{
		margin-bottom:20px ;
	}
}
@media screen and (max-width: 460px) {
	.pic2Ab{
		padding-bottom:0 !important;
		margin-bottom:0;
	}
	.pic1Ab{
		padding-bottom:0 !important;
		margin-bottom:0;
	}
	.camera_caption h2{
		font-size: 65px;
	}
	.about h3{
		text-align:center;
		margin-top:73px !important;
	}
	.about p{
		margin-top: 30px !important;
		text-align: justify;
	}
	.Ama {
		margin-top: 280px !important;
		margin-bottom: 100px !important;
	}
	.soc ul li{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 323px){
	.footer .fEmail{
		border-radius: 4px !important;
		margin-bottom:10px ;
	}	
	.footer .subS{
		border-radius: 4px !important;
	}
	.news p{
		text-align: justify;
	}
}
@media screen and (max-width: 1229px) {
	.cont {
		margin-left: 0px !important;
	}
	.name {
		width: 100% !important;
	}
	.Email {
		width: 100% !important;
	}	
	.ftext .cBtn ul{
		padding-left:40px !important;
	}
	.news p{
		text-align:justify;
	}
}
.sl{
	height: 67px;
	position: absolute;
	width: 100%;
	top: 418px;
	background: url(../images/sliderL.png) no-repeat;
}
/**/
.project{
	margin-top: 12px;
	text-align:center;
}
.project h3{
	letter-spacing: 1px;
	font-family: 'Roboto', 'sans-serif';
	font-size:37px;
	font-weight:400;
	color:#2f2f2f;
}
.project h4{
	margin-left: -5px;
	font-family: 'Roboto', 'sans-serif';
	font-size:20px;
	font-weight:300;
	color:#2f2f2f;
}
.project p{
	font-family: 'Roboto', 'sans-serif';
	font-size:13px;
	font-weight:300;
	margin-top: 16px;
	line-height: 23px;
	color:#666666;
}
/**/
.cBusiness{
	margin-top: 25px;
}
.cBusiness h3{
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-size:28px;
	font-weight:400;
}
.cBusiness h4{
	margin-top: 16px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-size:16px;
	font-weight:300;
}
.centPic{
	margin-top: 57px;
	text-align: center;
	margin-bottom: -89px;
	z-index: 10;
}
.centPic img{
	display:inline-block;
}
.line2{
	position: relative;
	width: 100%;
	overflow: hidden;
	height:100%;
	background: url(../images/bgTop.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.line2:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line2:before{
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
}
.fa-cog {
	margin-left: 2px;
	background: url(../images/cir.png) no-repeat;
	padding: 26px;
	font-size: 24px;
	color: #fff;
	font-family: FontAwesome;
	text-align: center;
}
.fa-tablet{
	width:73px;
	background: url(../images/cir.png) no-repeat;
	padding: 26px;
	font-size: 24px;
	color: #fff;
	font-family: FontAwesome;
	text-align: center;
}
.wwa{
	margin-top: 8px;
	text-align: center;
}
.wwa h3{
	font-size:28px;
	color:#2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
}
.wwa h4{
	margin-top: 15px;
	font-size:16px;
	color:#2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
/**/
.team{
	text-align:center;
	margin-top: 46px;
}
.team .b1{
	padding-left:0;
}
.team .b3{
	padding-right:0;
}
.team img{
	margin:0 auto;
}
.team h4{
	margin-top: 24px;
	font-size:20px;
	color:#2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.team h5{
	margin-top: -3px;
	font-size:13px;
	color:#a9a9a9;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.team p{
	margin-top: 12px;
	font-size: 13px;
	color: #666;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	line-height: 24px;
	text-align: justify;
}
.team ul{
	margin-top: 2px;
	padding-left:0px;
	display: inline-block;
	margin:0 auto;
}
.team ul li{
	padding:0 10px;
	float:left;
	list-style:none;
	font-family: FontAwesome;
	font-size:15px;
}
.team ul li a{
	color:#2f2f2f;
}
.team ul li a:hover{
	color:#22C1DB;
}
.hr1{
	margin-top: 34px;
}
.hr1 hr{
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
}
.chart {
	margin: 0 auto;
	position: relative;
	width: 70px;
	height: 70px;
	text-align: center;
}
.chart canvas {
	position: absolute;
    top: 0;
    left: 0;
}
.percent {
	display: inline-block;
	line-height: 110px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}
.angular {
	margin-top: 100px;
}
.angular .chart {
	margin-top: 0;
}
.chart span{
	margin-top: -19px;
	font-size:18px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
	font-size:18px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.chart sup{
	font-size:18px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	top: 0px !important;
	left: 0px !important;
	margin-left: 1px;
}
.textP h3{
	margin-top: 22px;
	text-align:center;
	font-size:20px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.textP p{
	line-height: 23px;
	margin-top: 13px;
	text-align:center;
	font-size:13px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.bar{
	margin-top: 32px;
}
.aboutUs {
	margin-top: 32px;
	text-align:center;
}
.aboutUs h3{
	font-size:28px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
}
.about h3{
	margin-top: 51px;
	font-size:16px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: bold;
}
.about p{
	font-size: 13px;
	line-height: 22px;
	color: #666666;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	margin-top: 12px;
	margin-bottom: 0;
}
.pic1Ab{
	padding-bottom: 15px;
	float: right;
	padding: 34px;
	padding-top: 51px;
	padding-right: 40px;
	padding-bottom: 50px;
}
.pic1Abparcours{
	float: right;
	padding: 34px;
	padding-top: 51px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 50px;
}
.about1{
	float: right;
	text-align: justify;
}
.pic2Ab{
	float: left;
	padding: 40px;
	padding-top: 51px;
	padding-right: 37px;
	padding-bottom: 50px;
}
.pic2Abparcours{
	float: left;
	padding: 40px;
	padding-top: 51px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 39px;
}
.about2{
	float: left;
	text-align: justify;
}
.horL{
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 31px;
	left: 0;
	bottom: 0;
	right: 0;
	width: 1170px;
	height: 254px;
	content: '';
	z-index: 30;
	background: url(../images/horL.png) no-repeat;
}
.line3{
	position: relative;
	width: 100%;
	overflow: hidden;
	height:100%;
	background: url(../images/bgTop.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.line3:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line3:before{
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
}
.Ama{
	margin-top: 201px;
	margin-bottom: 133px;
}

@media screen and (min-device-width:1919px) {   
	.Ama {
		margin-top: 246px;
		margin-bottom: 164px;
	}
}
.Ama h3{
	font-size: 42px;
	text-align:center;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
	margin-top: 17px;
}
.Ama p{
	font-size: 16px;
	text-align:center;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.lb{
	margin-bottom: -78px;
	z-index: 10;
}
.lb ul{
	margin-left: 14px !important;
	margin-top: 45px !important;
	display: inline-block;
	margin-bottom: 15px;
}
.cBtn ul{
	margin-left: -37px;
	margin-top: 37px;
	display: inline-block;
}
.cBtn ul li{
	margin-bottom: 15px;
	margin-right: 10px;
	border-radius:4px;
	float:left;
	list-style:none;
	padding:10px;
	background:#2f2f2f;
	box-shadow: 0px 2px 0px 0px #000;
	padding-right: 18px;
	padding-left: 18px;
	padding-top:11px;
}
.cBtn ul li:last-child{
	margin-right: 0;
}
.cBtn ul li a{
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
	font-size: 13px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.cBtn ul li:hover{
	cursor:pointer;
	background:#22C1DB;
	color:#fff;
	box-shadow: 0px 2px 0px 0px #179abf;
}
#filter {
	margin-bottom: 50px !important;
	margin-left: -37px !important;
	margin-top: 37px !important;
	display: inline-block !important;
}
#filter  li{
	margin-bottom: 30px !important;
	margin-right: 10px !important;
	border-radius:0!important;
	background:none!important;
	padding:0!important;
	box-shadow: none!important;
	padding-right: 0!important;
	padding-left: 0!important;
	padding-top:0!important;
	float:left;
	list-style:none;
}
#filter li:last-child{
	margin-right: 0;
}
#filter li a{
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
	font-size: 13px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	border-radius:4px;
	padding:10px;
	background:#2f2f2f;
	box-shadow: 0px 2px 0px 0px #000;
	padding-right: 18px;
	padding-left: 18px;
	padding-top:11px;
}
#filter li a:hover{
	cursor:pointer;
	background:#22C1DB;
	box-shadow: 0px 2px 0px 0px #179abf;
}
#filter .current{
	background:#22C1DB;
	box-shadow: 0px 2px 0px 0px #179abf;
}
.pretty{
	margin-top: 45px;
}
.pretty img{
	border-radius:3px;
}
.pretty {
	margin-top:0;
}
.isotope-item{
	top: 38px !important;
}
.picsGall{
	max-width: 100%; 
	height: auto;
}
.pretty .img-responsive{
	transition-duration: 0.5s;
}
.pretty .gall a:hover .img-responsive{
	opacity:0.45;
	transition-duration: 0.5s;
}
.pretty .plS{
	display: block;
}
.view h3{
	margin-bottom: 5px;
	text-align:center;
	margin-top: 12px;
}
.view a{
	text-decoration:none;
	color:#2f2f2f;
	font-size: 16px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.view li{
	display:inline-block;
	height:40px;
	background:none;
	text-decoration:none;
	color:#a9a9a9;
	font-size: 13px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.view a:hover{
	color:#22C1DB;
}
.view ul{
	display:block !important;
	margin-top: 7px;
	margin-bottom:25px;
	text-align: center;
	padding-left: 0;
}
.view ul i{
	margin-right: 5px;
	font-style:normal;
	display:inline-block;
	font-family: FontAwesome;
	font-size:13px;
	color:#a9a9a9;
}
.view ul li{
	margin-right: 12px;
	text-align:center;
	display: inline-block;
	background: none;
	box-shadow: none;
	list-style:none;
}
#filter{
	display: inline-block;
	margin-top: 45px;
}
.view ul a:hover , .view ul a:hover i{
	color:#fd5f5b;
}
.view ul a{
	display:inline-block;
	color:#a9a9a9;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.pb2{
	margin-top: 25px;
}
.pb3{
	margin-top: 25px;
}
.cBtn ul i{
	padding-right: 10px;
}
.cBtn .dowbload, .cBtn .buy{
	margin-left: 10px;
	margin-top: 4px;
	padding: 13px;
	padding-right: 20px;
	padding-left: 20px;
}
.cBtn .dowbload a, .cBtn .buy a{
	font-size: 14px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.cBtn .buy{
	box-shadow: 0px 2px 0px 0px #179abf;
	background:#22C1DB ;
}
.cBtn .buy:hover{
	background:#2f2f2f;
	box-shadow: 0px 2px 0px 0px #000 ;
}
.line4{
	position: relative;
	width: 100%;
	overflow: hidden;
	height:100%;
	background: url(../images/bgTop.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.line4:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line4:before{
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
}
.news{
	margin-top: 50px;
}
.news2{
	margin-top: 25px;
}
.news img{
	border-radius:3px;
}
.news h3{
	text-align:center;
	color:#2f2f2f;
	font-size: 16px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.news p{	
	line-height: 23px;
	color:#666666;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	text-align: justify;
}
.readMore{
	color:#22C1DB;
}
.readMore i{
	font-size:13px;
}
.news .readMore{
	text-decoration:none;
}
.news .readMore:hover{
	color:#666666;
}
.news h3 a{
	text-align: center;
	color: #2f2f2f;
	font-size: 16px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	text-decoration:none;
}
.news h3 a:hover{
	color: #22C1DB;
}
.news ul{
	margin-top: 14px;
	padding-left:0;
	text-align:center;
}
.news ul li{
	padding-right: 20px;
	display:inline-block;
	list-style:none;
}
.news ul li a{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#a9a9a9;
	font-size:13px;
	text-decoration:none;
	list-style:none;
}
.news ul li{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#a9a9a9;
	font-size:13px;
	text-decoration:none;
	list-style:none;
}
.news ul li a i{
	padding-right:5px;
}
.news li i{
	padding-right:5px;
}
.news ul li a:hover{
	color:#22C1DB;
}
.hrNews{
	margin-top: 18px;
	border: 0;
	height: 1px;
	background-color:#fff;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
}
.mNews{
	margin-top: 26px !important;
	margin-left: -49px !important;
}
.line5{
	position: relative;
	width: 100%;
	overflow: hidden;
	height:100%;
	background: url(../images/bgTop.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.line5:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line5:before{
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
}
.forma{
	margin-bottom: -80px;
	z-index: 10;
	margin-top: 48px;
}
.forma input{
	border-radius:4px;
	padding-top:10px;
	padding-bottom:10px;
	border:0px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size:13px;
	color:#555555;
	background:#ededed;
}
input:focus{
	outline:none;
}
textarea:focus{
	outline:none;
}
.name{
	margin-bottom:10px;
	margin-right: 10px;
	width:403px;
}
.Email{
	margin-bottom:10px;
	width:403px;
}
.Subject{
	margin-bottom:10px;
	max-width: 816px;
}
textarea {
	border-radius:4px;
	padding-top:10px;
	padding-bottom:10px;
	border:0px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size:13px;
	color:#555555;
	background:#ededed;
	border:none;
    max-width: 816px;
	height: 153px;
    resize: none;
}
.forma input:focus, .forma textarea:focus{
	background:#dfdfdf;
	border:0;
}
.forma .cBtn a{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	font-size:13px;
	color:#fff;
}
.forma .cBtn ul{
	margin-left: -15px;
	margin-top: 6px;
	padding-left:0;
	margin-bottom: 0;
}
.forma .cBtn ul i{
	padding-right: 10px;
}
.forma .cBtn .clear , .cBtn .send{
	margin-bottom: 0;
	margin-top: 4px;
	padding: 10px;
	padding-right: 17px;
	padding-left: 17px
}
.forma .cBtn .clear  a, .cBtn .send a{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.forma .cBtn .send{
	box-shadow: 0px 2px 0px 0px #179abf;
	background:#22C1DB ;
}
.forma .cBtn .send:hover{
	background:#2f2f2f;
	box-shadow: 0px 2px 0px 0px #000 ;
}
.cont{
	margin-top: 44px;
	margin-left: -33px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size:13px;
	color:#666666;
	margin-bottom: -80px;
	z-index: 10;
}
.cont ul{
	padding-left:0;
	list-style:none;
}
.cont li{
	margin-bottom: 16px;
}
.cont .fa{
	color:#2f2f2f;
	padding-right:14px;
}
.cont a{
	text-decoration:none;
	color:#22C1DB;
}
.cont a:hover{
	color:#666666;
}
.line6 iframe{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
.line6{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 700px;
}
.line6:after{
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 240px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 150px solid white;
	border-left: 3000px solid transparent;
}
.line6:before{
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-top: 194px solid white;
	border-right: 3000px solid transparent;
}
.line6 .Ama{
	margin-top: 250px;
	margin-bottom: 250px;;
}
.line6 .Ama h3{
	font-size: 42px;
	text-align:center;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
}
.line6 .Ama p{
	font-size: 16px;
	text-align:center;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.ftext{
	text-align: center;
	margin-bottom: -18px;
	z-index: 10;
	text-align:center;
}
.ftext h3{
	font-size:28px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400; 
	margin-top: 37px;
}
.ftext p{
	font-size:16px;
	color: #2f2f2f;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	margin-top: 13px;
	line-height: 24px;
}
.ftext .cBtn ul {
	margin-top: 40px;
	margin-top: 22px;
}
.line7{
	position: relative;
	width: 100%;
	overflow: hidden;
	max-height:100%;
	background: url(../images/line7Bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0px 0px 100px 0px rgba(16, 16, 16, 1) inset;
}
.line7:before{
	top: 0;
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-top: 150px solid white;
	border-right: 3000px solid transparent;
}
.footer{
	margin-top: 40px;
	min-height:435px;
}
.footer h3{
	margin-top: 159px;
	font-size: 28px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
	color: #fff;
	text-align: center;
	margin-bottom: 17px;
}
.footer p{
	font-size:16px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#fff;
	text-align:center;
}
.footer .fEmail{
	float:left;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	border: 0;
	background: #1c1c1c;
	color: #fff;
	padding: 11px;
	width: 350px;
	border-radius: 4px 0px 0px 4px;
	padding-left: 20px;
}
.footer .email{
	float:left;
}
.footer .subS{
	text-transform:uppercase;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	float: left;
	color: #fff;
	border-radius: 0 4px 4px 0;
	text-decoration: none;
	box-shadow: 0px 2px 0px 0px #179abf;
	background: #22C1DB;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
.fr{
	margin-top: 40px;
	text-align: center;
}
.soc ul li{
	margin-bottom: 40px;
	margin-right: 40px;
	float:left;
	text-align: center;
	text-decoration:none;
	list-style:none;
}
.soc {
	margin-top: 0px;
	text-align: center;
}
.soc ul{
	margin-left: 24px;
	padding-left: 0;
	display: inline-block;	
}
.socicon {
	height: 25px;
	width: 25px;
}
.socicon a{
	color:#ffffff;
	display: inline-block;
	border:0;
}
.socicon a:hover{
	color:#22C1DB;
	display: inline-block;
	border:0;
	text-decoration:none;
}
.lineBlack{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	background:#0D2636;
}
.downLine{
	margin-bottom: 0px;
}
.downLine p{
	font-size:13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#fff;
}
.lineBlack:before{
	top: 0;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.lineBlack input{
	margin-top: 3px;
}
#downMenu{
	float:right;
}
#downMenu li{
	height: 16px;
	border-right:1px solid #676767;
	float:left;
	list-style: none;
}
#downMenu li:last-child{
	border-right:none;
}
#downMenu li a{
	padding: 13px;
	text-decoration: none;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
#downMenu li:last-child a{
	padding-right:0;
}
#downMenu li a:hover{
	color:#6d6d6d;
}
.downLine input{
	max-width: 95px;
	border:0;
	background:#101010;
	font-size:13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#6d6d6d;
}
.copy{
	margin-top: 29px;
}
.dm{
	margin-top: 29px;
}
/**/
/*responsive*/
@media screen and (max-width: 1190px){
	.horL {
		display:none;
	}
}
@media screen and (max-width: 991px){
	.copy p{
		text-align:center;
	}
	#downMenu ul li{
		float: none;
		text-align:center;
	}
	.downLine input{
		margin-top: 25px;
	}
	.footer .fEmail{
		float:left;
		max-width: 163px;
	}
	#downMenu li a {
		padding: 5px;
	}
	.team ul{
		margin-bottom: 35px;
	}
	.cont {
		margin-top: 124px;
	}
	.cBtn ul {
		margin-left: 0;
	}
	.line6 iframe{
		height:750px;
	}
	.line6{
		height:350px;
	}
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.isotope {
	-webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
  	-webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}
.isotope.infinite-scrolling {
  	-webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  	-webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
#filter li a.selected {
	cursor:pointer;
	background:#22C1DB;
	color:#fff;
	box-shadow: 0px 2px 0px 0px #179abf;
}
#projects .columns1 .project {
	width:100%;
}
.load_more_cont {
	padding:10px 0 0;
}
.portfolio_block {
	width:100%;
}
.portfolio_block .project .hover_img {
	position:relative;
}
.portfolio_block.project_descr {
	position:relative;
	padding:37px 10px 14px;
	color:#979797;
	border:0;
	border-bottom:2px solid #ededed;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.portfolio_block .project:hover .project_descr {border-bottom-color:#765692;}
.portfolio_block .project_descr h4 {
	margin-bottom:11px;
	font-size:15px;
}
.blogpost_share {
    display: block;
    float: right;
}
.default{
	transition-duration: 1s;
}
.fixed {
	transition-duration: 1s;
	z-index:999;
	position:fixed;
	top: -65px; 
	padding:10px 0;
	width:100%;
	background-color: #0D2636!important;
	opacity: 0.8;
}
.roudedimg {
    border-radius: 50%;
    width: 50%; 
}
.hovicon {
    display: inline-block;
    line-height: 82px;
    cursor: pointer;
    margin: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.hovicon.small {
    font-size: 20px;
    line-height:45px;
    width:45px;
    height:45px;
    margin:7px;
}
.hovicon.mini {
    font-size: 15px;
    line-height:32px;
    width:30px;
    height:30px;
    margin:7px;
}
.hovicon.auto-width {
    width: auto;
    height: auto;
    padding: 15px;
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.hovicon.effect-3:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
}
.hovicon.effect-3.sub-b, .hovicon.effect-3.sub-b i {
    color: #fff;
}
.hovicon.effect-3.sub-b:hover, .hovicon.effect-3.sub-b:hover i {
    color: #222;
}
.hovicon.effect-3.sub-b:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}
.hovicon.effect-3.sub-b:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
	opacity: 0.3;
}

.blockquote {
  background: #f9f9f9;
  border-left: 10px solid #179abf;
  margin: 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.blockquote:before {
  color: #179abf;
  content: open-quote;
  font-size: 100px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote p {
  display: inline;
}
.blockquote div {
  color : #aaa;
}

.footer-details {
    margin: 20px 0 20px
}
.footer-details-title {
    display: block;
    font-size: 20px;
	margin: 10px 0;
	    font-weight: 900;
    /* text-transform: uppercase; */
}
.footer-details-subtitle {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}
.footer {
    text-align: center;
    color: #fff;
}
.footer-details a {
    color: #fff;
    transition: color 0.3s ease;
}
.footer-details a:hover {
    color: #179abf;
	transition: color 0.3s ease;
	text-decoration: none;
}
.authorthanks{
	font-size: 10px;
	color : #999
}
.authorthanks a:{	
	color : #999;
}
.authorthanks a:hover{	
	color: #179abf;
	transition: color 0.3s ease;
	text-decoration: none;
}